p, #navigation a
{
    font-size: 18px;
}

#header
{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 28px;
}

#navigation
{
    background-color: black;
    text-align: center;
}

#navigation a
{
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

#main-photo
{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: 333px;
    width: 500px;
}

#footer
{
    background-color: black;
    color: white;
}

#footer a
{
    color: white;
}